 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
  }

nav.menu-lateral{
    width: 100px;
    height: 100%;
    background-color: #ffffff; 
    padding: 5px 0 40px;
    box-shadow: 1px 0 0 #000000; 
    position: fixed;
    top: 0;
    left: 0;
}

.btn-expandir{
    width: 100%;
    padding-left: 10%;
}

.btn-expandir{
    color:#87CEFA;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100px;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #87CEFA;
}

ul li.item-menu:hover{ 
    background-color: #87CEFA; 

}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon{
    margin-left: 40px;
}


.icon {
    color: rgb(0, 0, 0); 
}

    body {
      font-family: Arial, sans-serif;
      display: flex;
    }

   
:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #87CEFA;
  --blue:#87CEFA;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  place-items: center;
  font-family: var(--font-family);
  background-color: white;
  overflow: hidden;
}

.calendar-header{
    background-color: #87CEFA;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajuste a altura conforme necessário */
}
.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 610px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px 0px 50px;
  text-align: center;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out; /* Adicione uma transição suave */
}

.showReminders .calendar {
  height: 400px; /* Ajuste a altura conforme necessário */
  overflow-y: auto; /* Adicione uma barra de rolagem quando necessário */
}

.calendar-header {
  background: #87CEFA;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
  padding: 10px;
}
.calendar-body {
  pad: 10px;
}
.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color:rgb(104, 104, 104);
}
.calendar-week-days div:hover {
color:black;
transform: scale(1.2);
transition: all .2s ease-in-out;
}
.calendar-week-days div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
  height: 50px;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}
.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}
.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.month-picker:hover {
  background-color: var(--color-hover);
}
.month-picker:hover {
  color: var(--color-txt);
}
.year-picker {
  display: flex;
  align-items: center;
}
.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.year-change:hover {
  background-color: var(--light-btn);
  transition:all .2s ease-in-out ;
  transform: scale(1.12);
}
.year-change:hover pre {
  color: var(--bg-body);
}
.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#year:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}
.calendar-days div span {
  position: absolute;
}
 .calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #fbc7d4;
  border-radius: 20%;
  color: var(--dark-text);
}
.calendar-days div.current-date {
  color: var(--dark-text);
  background-color: var(--light-btn);
  border-radius: 20%;
}
.month-list {
  position: relative;
  left: 0;
  top: -50px;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}
.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.month-list > div > div:hover {
  background-color:var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}
.month-list.hideonce{
  visibility: hidden;
}
.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}
.date-time-formate {
  width: max-content;
  height: max-content;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  top: 140px;
  justify-content: center;
}
.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #87CEFA;
  position: absolute;
  left: -1rem;
}
.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 40%;
  top: -18px;
  text-align: center;
}
.time-formate {
  font-size: 1.5rem;
}
.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}
.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.showtime{
  animation: showtime 1s forwards;
}
.time-formate.showtime {
  animation: showtime 1s forwards;
}
.date-formate.showtime {
  animation: showtime 1s forwards;
}
@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
@media (max-width:375px) {
  .month-list>div{

    margin: 5px 0px;
  }
}
/* Adicione ao seu estilo CSS existente */
.calendar-days div.selected-date {
  background-color: #87CEFA;
  border-radius: 20%;
  color: #fff;
}

.selected-day-info {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.selected-day-info .search-container {
  margin-top: 10px;
}
.calendar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.calendar-footer button {
  margin-top: 10px;
}
.showReminders button {
  margin-right: 20px;
}

.espacamento {
  padding: 30px;
}

.calendar-header {
  background-color: #87CEFA; /* Cor de fundo azul */
  color: white; /* Cor do texto branca */
  padding: 10px; /* Espaçamento interno */
  text-align: center; /* Alinhamento centralizado */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
}

.current-date {
  background-color: #87CEFA;;
  color: #87CEFA;;
}

/* Adicione ao seu estilo CSS existente */

.button-container {
  margin-top: 5px; /* Reduza a margem superior conforme necessário */
  margin-left: 100px; /* Ajuste a margem à esquerda conforme necessário */
  display: flex;
  flex-direction: column;
}

.button-container button {
  background-color: #87CEFA;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px; /* Reduza a margem inferior conforme necessário */
}





.button-container button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.button-container button:hover {
  background-color: #6495ED;
}

.table-container {
  margin-top: 20px;
  margin-left: 0; /* Ajuste a margem à esquerda conforme necessário */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #87CEFA;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #87CEFA;
  color: white;
}

.table-container {
  margin-top: 10px; /* Ajuste a margem superior conforme necessário */
  margin-left: 0; /* Remova ou ajuste a margem à esquerda conforme necessário */
}

#remindersTable {
  width: calc(100% - 100px); /* Ajuste conforme necessário para acomodar a largura do calendário e da margem à esquerda dos botões */
  border-collapse: collapse;
}

#remindersTable th, #remindersTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#remindersTable th {
  background-color: #87CEFA;
  color: white;
}

.show-reminders .table-container {
  margin-left: 50px; /* Ajuste a margem conforme necessário */
}

.show-reminders .calendar {
  width: 100%; /* Ajuste a largura conforme necessário */
}
.titulo {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin-left: 100px;
}
